flows (2).json
[{"id":"d7a6aa7b.c164e8","type":"tab","label":"Flow 3","disabled":false,"info":"var mr = global.get('mr')\nvar mt = global.get('mt')\nvar mp = global.get('mp')\nvar ma = global.get('ma')\nvar ms = global.get('ms')\n\nvar token=msg.payload.access_token\nvar instance_id=\"25fa0cdc-6052-4629-abe2-24efb1b4e743\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\", \"mean_smootheness\"], \"values\": [[mr,mt,mp,ma,ms]]}\nreturn msg;"},{"id":"86dc45d4.204548","type":"inject","z":"d7a6aa7b.c164e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["3d2c9e65.8d6a62"]]},{"id":"899597b2.550b68","type":"ui_form","z":"d7a6aa7b.c164e8","name":"","label":"","group":"7f4a3e43.5e18c","order":0,"width":0,"height":0,"options":[{"label":"mean_radius","value":"mr","type":"number","required":true,"rows":null},{"label":"mean_texture","value":"mt","type":"number","required":true,"rows":null},{"label":"mean_perimeter","value":"mp","type":"number","required":true,"rows":null},{"label":"mean_area","value":"ma","type":"number","required":true,"rows":null},{"label":"mean_smoothness","value":"ms","type":"number","required":true,"rows":null}],"formValue":{"mr":"","mt":"","mp":"","ma":"","ms":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":360,"wires":[["3d2c9e65.8d6a62"]]},{"id":"3d2c9e65.8d6a62","type":"function","z":"d7a6aa7b.c164e8","name":"Pre Token","func":"global.set(\"mr\",msg.payload.mr)\nglobal.set(\"mt\",msg.payload.mt)\nglobal.set(\"mp\",msg.payload.mp)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"ms\",msg.payload.ms)\nvar apikey=\"LnXElsy5R180kQtUwOtKZvMfDa-tDDaRXjJ3zOHeuDTZ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["cdd0baf3.060228"]]},{"id":"cdd0baf3.060228","type":"http request","z":"d7a6aa7b.c164e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":260,"wires":[["201cdfa2.a0ea1"]]},{"id":"201cdfa2.a0ea1","type":"function","z":"d7a6aa7b.c164e8","name":"Pre Prediction","func":"var mr = global.get('mr')\nvar mt = global.get('mt')\nvar mp = global.get('mp')\nvar ma = global.get('ma')\nvar ms = global.get('ms')\n\nvar token=msg.payload.access_token\nvar instance_id=\"25fa0cdc-6052-4629-abe2-24efb1b4e743\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\", \"mean_smoothness\"], \"values\": [[mr,mt,mp,ma,ms]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["9c7169c9.80a508"]]},{"id":"9c7169c9.80a508","type":"http request","z":"d7a6aa7b.c164e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/2c18448b-d78a-44dd-bc12-1a76b7b24eed/predictions","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":180,"wires":[["75f964b2.0d925c","4ac90cb5.065cf4"]]},{"id":"4ac90cb5.065cf4","type":"function","z":"d7a6aa7b.c164e8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":40,"wires":[["67f1bb63.2b78e4","a5e532a1.a55cf"]]},{"id":"67f1bb63.2b78e4","type":"debug","z":"d7a6aa7b.c164e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":60,"wires":[]},{"id":"75f964b2.0d925c","type":"debug","z":"d7a6aa7b.c164e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":360,"wires":[]},{"id":"a5e532a1.a55cf","type":"ui_text","z":"d7a6aa7b.c164e8","group":"6686640b.2cfc1c","order":4,"width":0,"height":0,"name":"","label":"Diagnosis","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":460,"wires":[]},{"id":"7f4a3e43.5e18c","type":"ui_group","z":"","name":"Default","tab":"6a3c48c2.1a8a08","order":1,"disp":true,"width":"6","collapse":false},{"id":"6686640b.2cfc1c","type":"ui_group","z":"","name":"Default","tab":"d0ad42cc.deed5","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a3c48c2.1a8a08","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d0ad42cc.deed5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]